body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font: bold 50px Roboto, sans-serif;
}
button {
  font-weight: 700;
  height: 40px;
  cursor: pointer;
  font-size: .5em;
  margin: 10px;
  background-color: cyan;
}
.box {
  min-width: 95px;
  border: 2px solid;
  min-height: 95px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 95px;
  line-height: 0px;
  background-color: cyan;
}
.row {display: flex;justify-content: center;}
.info {flex-direction: column;text-align: center;font-size: .6em;}
.hide {display: none;}
.winerColor {background-color: red;}
.congratuletion {color: red;}